.productCarousel {
  position: relative;
}
.productItem {
  padding: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.productItemInner {
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  position: relative;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productItemInner:hover {
  transform: translateY(-5px);
}
.productImage {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 1rem;
}
.productTitle {
  margin-top: auto;
}