.hero {
    background: url(/images/hero.jpg) top right no-repeat;
    background-size: cover;
}
.heroTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
}
.heroSubtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.heroText {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.1rem;
}
.btnLight {
    border: 2px solid white;
    color: white;
    background: transparent;
    transition: all 0.5s;
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    display: inline-block; 
    padding: 12px 24px; 
    font-weight: 700; 
    text-transform: uppercase;
}
.btnLight:hover {
    background: white;
    color: #212121;
}
.btnPlay {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: #FFFFFF;
}

.btnPlay:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.btnPlay:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}
.btnPlay span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -1px;
    border-left: 16px solid #7AB730;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}
.playText {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}