
:root {
    /* COLORS */
    --primary: #7AB730;
    --secondary: #FFD33C;
    --light: #F3F3F3;
    --dark: #212121;

    /* FONTS */
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

/* RESET */
body {
    font-family: var(--font-poppins) !important;
    font-weight: 400;
    color: #212121;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
input:-moz-autofill,
textarea:-moz-autofill {
  background-color: var(--light);
  color: #000;
}
input:-webkit-autofill::placeholder,
textarea:-webkit-autofill::placeholder {
  color: #000 !important;
  opacity: 1 !important;
}

[class^=flaticon-]:before,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}

/* REUSABLE STYLES */
.shade-gray {
    color: #656565 !important;
}
.no-underline {
    text-decoration: none;
}
.btn {
    font-family: var(--font-roboto) !important;
    text-transform: uppercase;
    font-weight: 700;
    transition: .5s;
}
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #FFFFFF !important;

}
h1, 
.h1, 
.display-1, 
.display-2, 
.display-3, 
.display-4, 
.display-5, 
.display-6 {
    font-weight: 600 !important;
}
h5, 
.h5 { 
    font-family: var(--font-roboto) !important;
    font-weight: 600 !important; 
}
h6, 
.h6 { 
    font-weight: 600 !important; 
}
.text-body {
    font-weight: 600 !important;
    font-family: var(--font-roboto) !important;
}

/* HERO */
.hero {
    background: url(/images/hero.webp) top right no-repeat;
    background-size: cover;
}

/* PRODUCTS */
.product-carousel .owl-nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next{
    position: relative;
    margin: 0 5px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    transition: .5s;
}
.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

/* OFFER */
.bg-offer {
    background: url(/images/offer.webp) top right no-repeat;
    background-size: cover;
}

/* TEAM */
.team-carousel .owl-nav {
    position: absolute;
    width: 50px;
    height: 160px;
    top: calc(50% - 80px);
    right: 0;
    z-index: 1;
}
.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    transition: .5s;
}
.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

/* TESTIMONIALS */
.bg-testimonial {
    background: url(/images/testimonial.webp) top left no-repeat;
    background-size: cover;
}
.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 46px;
    top: calc(50% - 23px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    font-size: 22px;
    transition: .5s;
}
.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}
.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

@media (max-width: 768px) {
   /* PRODUCTS */
  .productCarousel .owl-prev {
    left: -10px !important;
  }
  .productCarousel .owl-next {
    right: -10px !important;
  }
  .productCarousel .owl-prev,
  .productCarousel .owl-next {
    width: 45px !important;
    height: 40px !important;
    font-size: 18px !important;
  }
}
