.brand {
    font-family: 'Roboto', sans-serif;
}
.h1 {
    font-weight: 700;
}
.brandIcon {
    color: #7AB730;
    font-size: 2.5rem;
}
.navbar {
    background: white;
    transition: all 0.3s ease;
}
.navLink {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #212121;
    margin-left: 15px;
    padding: 30px 0;
    position: relative;
    transition: color 0.5s;
}
.navLink:hover, .navLink.active {
    color: #7AB730;
}
.navContact {
    background-color: #7AB730;
    color: white !important;
    padding: 10px 40px !important;
    margin-left: 3rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stickyTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1030;
    animation: slideDown 0.3s ease;
}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.stickyTop .navLink {
    padding: 20px 0 !important;
    margin-left: 30px;
}
.stickyTop .navContact {
    padding: 0px 40px !important;
    margin-left: 3rem !important;
}

@media (min-width: 992px) {
    .navLink::before {
        position: absolute;
        content: "";
        width: 0;
        height: 7px;
        top: -4px;
        left: 50%;
        background: #7AB730;
        transition: 0.5s;
    }
    .navLink:hover::before,
    .navLink.active::before {
        width: 100%;
        left: 0;
    }
    .navLink.navContact::before {
        width: 100%;
        height: 1px;
        top: -1px;
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .navLink {
        margin-left: 0;
        padding: 10px 0;
    } 
    .navContact {
        margin-left: 0 !important;
        margin-top: 10px;
        justify-content: start;
        padding-left: 10px !important;
    }
    .stickyTop {
        position: relative;
        box-shadow: none;
    }
}