.shadeGray {
    font-family: var(--font-poppins) !important;
    color: #656565 !important;
    font-weight: 500 !important;
    text-decoration: none !important;
}
.noRounded {
    border-radius: 0 !important;
}
.errorContainer {
    min-height: 24px;
    margin-top: 4px;
}